body {
  background-color: black;
  color: yellow;
  border: 1px solid yellow;
}

img {
  width: 30%;
  height: 30%;
  border-radius: 50%;
}

img:hover {
  width: 30%;
  height: 30%;
  content: url(ligado-removebg-preview.png);
}
